 
<ion-header>
    <ion-toolbar>
      <ion-buttons>
        <ion-button  slot="start">
          <ion-back-button></ion-back-button>
        </ion-button>
        <ion-title no-padding>Edit Profile</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  
    <div>
  
      <ion-img class="img" src="assets\pic3.png" slot="end" class="img" ></ion-img>
  
    </div>
  
    <ion-item>
      <ion-input placeholder="Enter Your Name" text-center >
      </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input placeholder="Enter Your Email" text-center></ion-input>
    </ion-item>
    <ion-item>
      <ion-input text-center disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Enter Your Mobile Number" text-center></ion-input>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="save"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>