.img{
    position: absolute;
    top: 30%;
    left: 38%;
    width: 100px;
    height: 100px;
}

.txt{
    position: absolute;
    top: 46%;
    left: 20%;
    font-size: 21px;
}

.txt2{
    position: absolute;
    top: 50%;
    left: 18%;
    font-size: 15px;
    color: grey;
}