<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-searchbar placeholder="Browse" ></ion-searchbar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar><ion-img src="assets\pic1.jpg"></ion-img> </ion-avatar>
      <ion-text class="ion-padding">Anupama Parameswaran</ion-text>
      <ion-button fill="none" slot="end">
          <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
     </ion-item>
     <ion-item>
       <ion-img class="ion-padding-bottom" src="assets\picm2.jpg"></ion-img>
     </ion-item>
     <ion-item>
       <ion-buttons class="ion-no-padding">
         <ion-button>
            <ion-icon name="heart-empty"></ion-icon>
            <ion-text class="ion-margin">Like</ion-text>
         </ion-button>
         <ion-button>
            <ion-icon name="paper-plane"></ion-icon>
            <ion-text class="ion-margin">Comment</ion-text>
         </ion-button>
         <ion-button>
            <ion-icon name="share-alt"></ion-icon>
            <ion-text class="ion-margin">Share</ion-text>
         </ion-button>
       </ion-buttons>
     </ion-item>
  </ion-card>

  <ion-card>
      <ion-item>
        <ion-avatar><ion-img src="assets\pic2.jpeg"></ion-img> </ion-avatar>
        <ion-text class="ion-padding">Neeraja</ion-text>
        <ion-button fill="none" slot="end">
            <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
       </ion-item>
       <ion-item>
         <ion-img class="ion-padding-bottom" src="assets\picm1.jpg"></ion-img>
       </ion-item>
       <ion-item>
         <ion-buttons class="ion-no-padding">
           <ion-button>
              <ion-icon name="heart-empty"></ion-icon>
              <ion-text class="ion-margin">Like</ion-text>
           </ion-button>
           <ion-button>
              <ion-icon name="paper-plane"></ion-icon>
              <ion-text class="ion-margin">Comment</ion-text>
           </ion-button>
           <ion-button>
              <ion-icon name="share-alt"></ion-icon>
              <ion-text class="ion-margin">Share</ion-text>
           </ion-button>
         </ion-buttons>
       </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
          <ion-avatar><ion-img src="assets\pic3.png"></ion-img> </ion-avatar>
          <ion-text class="ion-padding">Athulya</ion-text>
          <ion-button fill="none" slot="end">
              <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
         </ion-item>
         <ion-item>
           <ion-img class="ion-padding-bottom" src="assets\picm2.jpg"></ion-img>
         </ion-item>
         <ion-item>
           <ion-buttons class="ion-no-padding">
             <ion-button>
                <ion-icon name="heart-empty"></ion-icon>
                <ion-text class="ion-margin">Like</ion-text>
             </ion-button>
             <ion-button>
                <ion-icon name="paper-plane"></ion-icon>
                <ion-text class="ion-margin">Comment</ion-text>
             </ion-button>
             <ion-button>
                <ion-icon name="share-alt"></ion-icon>
                <ion-text class="ion-margin">Share</ion-text>
             </ion-button>
           </ion-buttons>
         </ion-item>
      </ion-card>
</ion-content>
