<ion-content class="ion-content">
  <div class="bg"></div>
  <div class="ion-text-center ion-margin-top relative">
    <span class="ion-margin-top">
      <ion-title color="light" text-left class="thick">MY Projects</ion-title>
      <br>
      <img class="lap-img" src="/assets/img/lap.png">
      <div class="ion-padding-top">
        <ion-text color="light">This Web Design cost $390 USD by <span><br></span> @JustLogoz</ion-text>
      </div>
      
      <ion-card text-center color="light" padding-bottom>
        <span>
          <br>
          <ion-label class="title" padding-bottom>NO Projects Yet?</ion-label>
          <br>
          <br>
          <ion-text class="small-grey" padding-top>Ready to get things done by talented freelancers? Get started now!</ion-text>
          <br>
          <br>
          <ion-button expand="block">POST A PROJECT</ion-button>
          <br>
          <ion-text color="primary">Browse Projects</ion-text>
          <br>
        </span>
      </ion-card>
    </span>
  </div>
</ion-content>
